
body {
	background-color: #cccccc;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin: 0px auto;
	max-width: 1000px;
	border: solid;
	border-color: #ffffff;
}

header {
	background-color: #f47d31;
	display: block;
	color: #ffffff;
	text-align: center;
}

header h2 {
	margin: 0px;
	color: white;
}

h1 {
	font-size: 72px;
	margin: 0px;
}

h2 {
	font-size: 24px;
	margin: 0px;
	text-align: center;
	color: #f47d31;
}

h3 {
	font-size: 18px;
	margin: 0px;
	text-align: center;
	color: #f47d31;
}
h4 {
	color: #f47d31;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(-45deg);
	-mox-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(-45deg);
	position: absolute;
	padding: 0px 150px;
	top: 50px;
	left: -120px;
	text-align: center;
}
h4.banner {
	left: -110px;
	padding: 0px 150px;
	top: 70px;
}

nav {
	display: block;
	width: 25%;
	float: left;
}

nav a:link, nav a:visited {
	display: block;
	border-top: 3px solid #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
}
nav a:hover {
	color: white;
	background-color: #f47d31;
}
nav h3 {
	margin: 15px;
	color: white;
}
#page-container {
	background-color: #888;
}
section {
	display: block;
	width: 50%;
	float: left;
}
section.wide {
	width: 75%;
}
article {
	background-color: #eee;
	display: block;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(0deg);
	-moz-box-shadow: 2px 2px 20px #888;
	-moz-transform: rotate(0deg);
}
article header {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}
article footer {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}
article h1 {
	font-size: 18px;
}
article a {
	color: blue;
}
article.threeCC {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}
article.threeCW {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}
article.straight {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}
aside {
	display: block;
	width: 25%;
	float: left;
}
aside h3 {
	margin: 15px;
	color: white;
}
aside p {
	margin: 15px;
	color: white;
	font-weight: bold;
	font-style: italic;
}
aside a {
	color: blue;
}
footer {
	clear: both;
	display: block;
	background-color: #f47d31;
	color: #ffffff;
	text-align: center;
	padding: 15px;
}

footer h2 {
	font-size: 14px;
	color: white;
}

a {
	color: #f47d31;
}
a:hover {
	text-decoration: underline;
}